
body {
    font-family: 'Grape Nuts', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-image: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1678725995_bogatyr-club-p-fon-dlya-bukleta-meditsina-foni-vkontakte-2.jpg);
    background-size: 100%;
}

.content {
    flex: 1;
  }

header {
    background-color: #ffffffa0;
}

.logo{
    display: flex;
    align-items: center;
    color: #63C3D3;
    font-family: 'Grape Nuts', cursive;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    user-select: none;
    
}

.logo-item{
    display: flex;
    align-items: center;
    font-size: 50px;
    
}

.logo_img{
    display: flex;
    padding-right: 5px;
    
}

.login-btn, .create-visit-btn, .filter-btn, .logout-btn, .btn-create, .btn-closed{
    padding: 5px 16px;
    background-color: #63C3D3;
    color: white;
    text-decoration: none;
    border: 1px solid rgb(37, 156, 182); 
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-family: 'Grape Nuts', cursive;
    font-size: 15px;
}

.login-btn:hover, .create-visit-btn:hover, .filter-btn:hover, .logout-btn:hover {
    background-color: #4f98a5;
}

.login-btn:active, .filter-btn:active, .modal-btn:active, .logout-btn:active, .create-visit-btn:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

.btns-modal{
    display: flex;
    justify-content: space-around;
    border: none;
    padding: 20px;
}
.btn-create, 
.btn-closed{
    width: 150px;
    height: 50px;
}

.btn-create:hover{
    background-color:#198754;
}

.btn-closed:hover{
    background-color: #dc3545;;
}

.button{
    display: flex;    
}

.create-visit-btn{
    margin-right: 8px;
}

.form {
    margin: 20px 0;
    padding-left: 15px;
    user-select: none;
    color: #569faf;
    font-family: 'Grape Nuts', cursive;
}

form input, form select {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(37, 156, 182);    
}

 #visitsBoard{
    padding-left: 17px;
    color: #569faf;
    user-select: none;
    font-family: 'Grape Nuts', cursive;
 }
    .search{
        border-radius: 8px;
        border: 1px solid rgb(37, 156, 182); 
    }
    
    .status{
        border-radius: 8px;
        border: 1px solid rgb(37, 156, 182);   
    }
    .priority{
        border-radius: 8px;
        border: 1px solid rgb(37, 156, 182);  
    }
    
    #loginModal {
        display: none;
        position: fixed;
        color: #ffffff;
        width: 320px;
        height: 360px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #62b6c6;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 8px;
        user-select: none;
        border: 1px solid rgb(37, 156, 182);  
        
    }

    #loginModal label, input{
        margin-top: 8px;
        padding-bottom: 6px;
        margin-bottom: 2px;
        border-radius: 8px;  
        font-family: 'Grape Nuts', cursive;
        font-size: 16px; 
        
    }

    #loginModal input{
        padding: 5px 10px;
        border-radius: 8px;
        border: 1px solid rgb(37, 156, 182);     
    }

    .modalLogin{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: #488593;
        
    }


    .modal-content h1{
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        color: #ffffff;
        font-family: 'Grape Nuts', cursive;
    }

    .close{
        display: flex;
        justify-content: end;
        cursor: pointer;
        width: 100%;
    }

    .close:hover{
        color: #488593; 
    }

    .modal-btn{
        padding: 8px 16px;
        background-color: #63C3D3;
        color: white;
        text-decoration: none;
        border: 1px solid rgb(37, 156, 182); 
        border-radius: 8px;
        cursor: pointer;
        margin-top: 25px;
        font-size: 16px;
        font-family: 'Grape Nuts', cursive;
    }

    .modal-btn:hover{
        background-color: #4f98a5;
    }

    .footer-item {
        color: #3c717d;;
        display: flex;
        background-color: #ffffff79;
        height: 60px;
        justify-content: center;
        align-items: center; 
        padding-top: 15px;
        margin-top: auto;
        font-size: 18px;
        user-select: none;  
        font-family: 'Grape Nuts', cursive;
    }
        /* .modal-wrapper{
        display: none;
    } */

/* modal */
    .content-modal{
        display: none;
    }
    .modalVisit {
        position: fixed; 
        z-index: 1; 
        padding-top: 86px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0, 0, 0, 0.4); 
      }
      
      .active-visit {
        display: block;
      }
      
      .modalVisit-content {
        position: relative;
        background-color:#89abb3;
        margin: auto;
        padding: 15px;
        border: 1px solid #888;
        border-radius: 19px;
        width: 55%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      
      .modalVisit-header {
        display: flex;
        justify-content: center;
        background-color:#488593;
        color: #fefefe;
        border-radius: 10px;
        padding: 10px;
      }

      .createVisit {
        padding: 3%;
      }
      .cards__row{
        margin-top: 20px;
        height: 250px;
        display: flex;
        overflow: hidden;
      }
    .cards__list{
        margin: 0px 10px;
        display: flex;
        height: 100%;
        width: 100%;
        gap: 5%;
        padding-left: 0px;
    }
    .cards__list-li{
        width: 22%;
    }
    .cards__card{
        width: 100%;
        height: 100%;
        background-color: #488593;
        opacity: 0.8;
        border-radius: 10px;
        border: #143d46 2px solid;
    }
    .cards__buttons{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .cards__buttons-list{
        margin-top: 5px;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .cards__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 30px;
        line-height: 20px;
        border-radius: 15px;
        background-color: #337989;
    }
    .cards__button-text{
        margin: 0px;
        color: white;
    }

    .cards__details{
        margin-top: 10px;
        text-align: center;
    }
    .cards__details-text{
        color: white;
        font-size: 10px;
    }
    input[disabled]{
        background-color: #ffffff;
        border-color: #ffffff;
    }
    .cards__more{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .cards__more-button{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 30px;
        line-height: 20px;
        border-radius: 15px;
        background-color: #337989;
        color: white;
    }
    .cards__more-text{
        margin: 0;
        color: white;
        font-size: 25px;
    }



    
